# Eclipse
.project
.classpath
.metadata
org.*
bin

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt


# Windows image file caches
Thumbs.db

# Deploy process leftovers
generateRAR.bat
