body {
    background: url('../images/bg.png') fixed;
    background-size: cover;
    margin-left: 20%;
    margin-right: 20%;
}
p, li, h3, h2 {
    color: #FFF;
}
h3 {
    text-align: center;
}
p, h2 {
    font-weight: 700;
}
.anchor {
    padding-right: 5px;
}
.content {
    background: rgba(128, 128, 128, 0.5);
    padding: 5px 20px;
}